<html>
    <body bgcolor=#a3aed4>

        <center>

        <h1> CAR PRICE! </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Kilometers_Driven :  <input type="number", name='Kilometers_Driven', placeholder="enter 1"> <br><br>
            Engine :  <input type="number", name='Engine', placeholder="enter 2"> <br><br>
            Power :  <input type="number", name='Power', placeholder="enter 3"> <br><br>
            Year :  <input type="number", name='Year', placeholder="enter 4">  <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\gh.png' alt="차!">
        
    </center>

    </body>
</html>